.header {
      text-align: center;
      padding: 25px;
}
body {
	background:url('images/18.jpg');
	text-align: center;
}

.content {
	color: black;
	font-family: Helvetica, serif;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
}
