.header {
       text-align: center;
       padding: 25px;

      
}

body {
	text-align: center;
	 background-color: red;
       -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
       -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
       animation-name: example;
       animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {background-color: #FFE4C4;}
  to {background-color: #FFEBCD;}
}

/* Standard syntax */
@keyframes example {
  from {background-color: #FFE4C4;}
  to {background-color: #FFEBCD;}
}


.content one {
	         color: black;
	         font-family: Helvetica, serif;
	         font-size: 20px;
	         line-height: 1.2;
	         text-align: center;
}

.topic {
	   list-style: none;
	   position:relative;
	   font-family: Helvetica;
       font-weight: bold;
       font-size: 21px;
       width: 50%;
       color: #000000; 
}

.topic a {
	     display: block ; 
         display- width: 30 px;
         padding: 5px; 
	     color: #ADD8E6;
	     text-decoration: none;
}

.topic a:hover {
	           color: #FFFFFF;
	           background-color:#ADD8E6;
	           text-decoration: none;
}

img { 
	max-width: 90%;
    padding-top: 20px;

}