body {
	background-color:#FDF5E6;
}


h1 {
	outline-color:#663399;
}


h1.header {
       text-align: center;
       outline-style:double;
       outline-width:30;
}

.topic {
	   list-style: none;
	   position:static;
	   font-family: Helvetica;
       font-weight: bold;
       font-size: 20px;
       width: 15%;
       color: #000000; 
}

.topic a {
	     display: block ; 
         padding: 5px; 
	     color: #9370DB;
	     text-decoration: none;
}

.topic a:hover {
	           color: #FFFFFF;
	           background-color:#9370DB;
	           text-decoration: none;
}