body {
	background-color:#FDF5E6;
}


h1 {
	outline-color:#663399;
}


h1.header {
       text-align: center;
       outline-style:double;
       outline-width:30;
}

.topic {
	   list-style: none;
	   position:static;
	   font-family: Helvetica;
       font-weight: bold;
       font-size: 20px;
       width: 15%;
       color: #000000; 
}

.topic a {
	     display: block ; 
         padding: 5px; 
	     color: #9370DB;
	     text-decoration: none;
}

.topic a:hover {
	           color: #FFFFFF;
	           background-color:#9370DB;
	           text-decoration: none;
}

.flower {
	width:300px;
	height:300px;
	position: relative;
}

  .1 {
	width:50%;
	height:50%;
	border-top-left-radius:100%;
	border-bottom-right-radius:100%;
}

.1:nth-child(1){
	           position:absolute;
	           left:50%;
	           transform-origin: 0 100%;
               transform:rotate(45deg);
               background: linear-gradient(to top right, #ff99ff 0%, #ffffff 100%)
}

.1:nth-child(2){
	           position:absolute;
	           left:50%;
	           transform-origin: 0 100%;
               transform:rotate(90deg);
               background: linear-gradient(to right, #ff99ff 0%, #ffffff 100%)
}

.1:nth-child(3){
	           position:absolute;
	           left:50%;
	           transform-origin: 0 100%;
               transform:rotate(135deg);
               background: linear-gradient(to bottom right, #ff99ff 0%, #ffffff 100%)
}

.1:nth-child(4){
	           position:absolute;
	           left:50%;
	           transform-origin: 0 100%;
               transform:rotate(180deg);
               background: linear-gradient(to bottom, #ff99ff 0%, #ffffff 100%)
}

.1:nth-child(5){
	           position:absolute;
	           left:50%;
	           transform-origin: 0 100%;
               transform:rotate(225deg);
               background: linear-gradient(to bottom left, #ff99ff 0%, #ffffff 100%)

}

.1:nth-child(6){
	           position:absolute;
	           left:50%;
	           transform-origin: 0 100%;
               transform:rotate(270deg);
               background: linear-gradient(to left, #ff99ff 0%, #ffffff 100%)
}

.1:nth-child(7){
	           position:absolute;
	           left:50%;
	           transform-origin: 0 100%;
               transform:rotate(315deg);
               background: linear-gradient(to top left, #ff99ff 0%, #ffffff 100%)
}
